#nav ul {
    display: inline-block;
    list-style-type: none;
    margin-left: auto;
}
h1{
    text-align: center;
}
h6{
    text-align: center;
}
.container1{
    margin-top: 25px;
}
.footer{
    margin-top: 50px;
}
body{

    background: rgb(31, 2, 10);
    background: linear-gradient(90deg, rgb(21, 6, 10) 20%, rgb(17, 17, 28) 55%, rgb(32, 25, 85) 100%);
    
}
input[type = "text"]
{
    background: transparent;
    border: none;
    color: whitesmoke;
}