body{
  background: rgb(36,0,10);
background: linear-gradient(90deg, rgba(36,0,10,1) 20%, rgba(9,9,121,1) 55%, rgb(24, 7, 43) 100%);
}
.some__class{
    text-align: center;
  }
  .features{
color: white;
  }
  .features1{
    color: white;
    

  }
  
  
